body:after {
	display: none;
	content: url("mine.png");
}

table, tr, td {
	border: 1px solid #000000;
}

tr, td {
	width: 25px;
	height: 25px;
}
td.red-cell {
	background: #F00;
}

#mine_title {
	background-image: url("mine.png");
	width: 25px;
	height: 25px;
}

.no-overflow {
	overflow: hidden;
}

.hidden {
	background-color: grey !important;
	background-image: url()!important;
	display: hidden;
}

.mine{
	background-image: url("mine.png");
	background-size: 100%;
}

.safe{
	
}

.unsafe{
	text-align: center;
	color: grey;
}